@import 'styles/helpers';

.mapLegend {
  @include shadow-1;
  position: absolute;
  bottom: calcRem(20);
  left: calcRem(20);
  background-color: #fff;
  padding: calcRem(20) calcRem(50) calcRem(20) calcRem(20);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calcRem(8);
  border-radius: calcRem(10);
}

.singleZone {
  font-size: calcRem(12);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: calcRem(10);
}

.zoneColorSquare {
  display: block;
  width: calcRem(14);
  height: calcRem(14);
  opacity: 0.4;
}

.zoneName {
  display: block;
}

.legendTriggerButton {
  position: absolute;
  top: calcRem(16);
  right: calcRem(10);
  width: calcRem(28);
  height: calcRem(28);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  opacity: 1;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    cursor: pointer;
    outline: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.legendTriggerButtonIcon {

}

.legendLabel {
  font-size: calcRem(14);
}


// map infoBox for an item

.infoBoxContainer {
  width: calcRem(240);
  background-color: #fff;
  @include shadow-2;
  padding: calcRem(20);
}

.infoWrapper {

}

.infoLocation {
  font-size: calcRem(16);
  font-weight: bold;
}

.infoMeta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calcRem(15);
  color: #666;
  padding: calcRem(10) 0;
  border-bottom: 1px solid #ccc;
}

.itemDate {
  display: flex;
  align-items: center;
}

.metaIcon {
  margin-right: calcRem(5);
}

.volunteerAssigned {
  display: flex;
  align-items: center;
  color: green;
}

.infoDescription {
  padding: calcRem(15) 0;
  font-size: calcRem(14);
}

.boxFooter {
  padding-top: calcRem(15);
  border-top: 1px solid #ccc;
  text-align: right;
}

.navigateButton {
  font-size: calcRem(12);
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: green;

  &:hover {
    cursor: pointer;
  }
}
