@import 'styles/helpers';

.headerContainer {
  padding: calcRem(10) calcRem(30);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: calcRem(50);
  align-items: center;
  height: calcRem(100);

  @media (max-width: $mobile-breakpoint){
    grid-template-columns: 1fr;
    height: auto;
    overflow-x: scroll;
    width: 100%;
    grid-gap: calcRem(20);
  }
}

.siteLogo {
  font-weight: 900;
  font-size: calcRem(28);
  letter-spacing: -1.5px;

  span {
    font-weight: 600;
    font-size: calcRem(14);
    letter-spacing: -1px;
  }
}

.siteMainMenu {
  display: flex;
  align-items: center;
}

.menuItemsWrapper {
  padding: 0;
  display: inline-flex;
  border-radius: calcRem(60);
  border: 1px solid #ccc;
  padding: 0 calcRem(5);

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
  }

  .menuItem {
    border-right: 1px solid #ccc;
    list-style-type: none;
    display: flex;
    align-items: center;

    @media (max-width: $mobile-breakpoint) {
      border: none;
    }

    .alert {
      color: $negative-color;
    }

    a {
      padding: calcRem(10) calcRem(20);
    }

    .active {
      font-weight: 900;
      opacity: 0.6;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.addButton {
  font-weight: 600;
  background-color: $primary-color;
  padding: calcRem(9) calcRem(25);
  border-radius: calcRem(40);
  margin-left: calcRem(20);
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 2px solid $primary-color;

  &:hover, &:focus {
    background-color: #fff;
    color: $primary-color;
  }
}

.stuffRight {
  display: flex;
  justify-content: flex-end;
}