@import 'styles/helpers';

.listItemContainer {
  padding: calcRem(30) calcRem(40);
  background-color: #fff;
  margin-left: calcRem(-40);
  margin-right: calcRem(-40);
}

.listItemContainerAlert {
  padding: calcRem(30) calcRem(40);
  border-right: 4px solid $negative-color;
  background-color: #fff;
  margin-left: calcRem(-40);
  margin-right: calcRem(-40);
}

.markAsFulfilledContainer {
  padding-top: calcRem(50);
  padding-bottom: calcRem(50);
  border: 2px solid green;
  padding: calcRem(30);
}

.itemHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: calcRem(15);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.headerRight {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: calcRem(15);
  align-items: center;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: auto;
  }

  @media (max-width: $mobile-breakpoint) {
    margin: calcRem(10) 0;
  }
}

.markFulfilledButton {
  opacity: 1;
  transition: all 0.3s ease-in-out;

  @media (max-width: $mobile-breakpoint) {
    margin-top: calcRem(20);
  }

  &:hover, &:focus {
    opacity: 1;
    cursor: pointer;
  }
}

.typeLabel {
  font-size: calcRem(14);
  font-weight: bold;
  display: block;
  color: #666;
}

.typeLabelAlert {
  font-size: calcRem(14);
  font-weight: bold;
  display: block;
  color: $negative-color;
}

.mainLabel {
  font-size: calcRem(22);
  font-weight: bold;
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: calcRem(8) 0;
  font-size: calcRem(14);

  &:hover {
    cursor: pointer;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: calcRem(15);
    padding-right: calcRem(15);
    border-right: 1px solid #ddd;

    &:last-child {
      border-right: none;
      margin-right: none;
      padding-right: none;
    }
  }

  .metaIcon {
    color: #666;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: calcRem(8);
    margin-top: calcRem(4);
  }

  .metaIconInner {
    font-size: calcRem(18);
  }
}

.descriptionWrapper {
  font-size: calcRem(16);
  line-height: 170%;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: calcRem(20);
  margin-top: calcRem(20);
  border-top: 1px solid #dedede;
  font-size: calcRem(14);

  @media (max-width: $mobile-breakpoint) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calcRem(15);
  }

  .contactName {
    display: block;
    margin-right: calcRem(20);
  }

  a {
    font-weight: bold;
  }

  .whatsappAvailability {
    display: flex;
    align-items: center;
    font-size: calcRem(13);
    color: #666;
    margin-left: auto;

    @media (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }

    img {
      width: calcRem(24);
      display: block;
      margin-right: calcRem(5);
    }
  }
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: calcRem(-5);
  margin-right: calcRem(-5);
  margin-top: calcRem(-5);
  margin-bottom: calcRem(5);
  padding-bottom: calcRem(10);
}

.tagWrapper {
  list-style-type: none;
  margin: calcRem(5)
}

.tagContainer {
  font-size: calcRem(14);
  padding: calcRem(4) calcRem(6);
  text-transform: uppercase;
  background-color: grey;
  color: white;
  display: inline-block;
  border: 1px solid grey;

  &:hover, &:focus {
    background-color: white;
    color: $text-color;
    cursor: pointer;
  }
}

.internalNotesWrapper {
  margin-top: calcRem(30);
  padding-top: calcRem(25);
  padding-bottom: calcRem(25);
  border-top: 1px solid #ddd;
  font-style: italic;
  font-size: calcRem(14);
}

.notesTitle {
  font-weight: bold;
  display: block;
  margin-bottom: calcRem(10);
  font-style: normal;
}

.volunteerAssignedNotice {
  display: flex;
  align-items: center;
  color: green;

  span {
    margin-left: calcRem(5);
    flex-grow: 1;
    flex-shrink: 1;
    font-size: calcRem(13);
    font-weight: bold;
  }
}

.assignToSelfButton {
  display: block;
  border: 2px solid $primary-color;
  color: #fff;
  background-color: $primary-color;
  padding: calcRem(10) calcRem(15);
  width: 100%;
  border-radius: calcRem(30);

  &:hover, &:focus {
    background-color: #fff;
    color: $primary-color;
    cursor: pointer;
  }
}

.unAssignSelfButton {
  display: block;
  border: 2px solid $primary-color;
  color: $primary-color;
  background-color: #fff;
  padding: calcRem(10) calcRem(15);
  width: 100%;
  border-radius: calcRem(30);

  &:hover, &:focus {
    color: #fff;
    background-color: $primary-color;
    cursor: pointer;
  }
}

.markDoneButton {
  display: block;
  border: 2px solid #1EA362;
  color: #fff;
  background-color: #1EA362;
  padding: calcRem(10) calcRem(15);
  width: 100%;
  border-radius: calcRem(30);

  &:hover, &:focus {
    background-color: #fff;
    color: #1EA362;
    cursor: pointer;
  }

  &:disabled, &[disabled] {
    filter: grayscale(1);
    opacity: 0.6;

    &:hover, &:focus {
      color: #fff;
      background-color: #1EA362;
      cursor: default;
    }
  }
}

.googleMapsButton {
  display: block;
  border: 2px solid #1EA362;
  color: #1EA362;
  padding: calcRem(6) calcRem(15);
  border-radius: calcRem(30);
  font-size: calcRem(14);
  font-weight: bold;
  text-align: center;

  &:hover, &:focus {
    background-color: #1EA362;
    color: #fff;
    cursor: pointer;
  }
}