@import 'styles/helpers';

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr calcRem(800);
  padding-top: calcRem(100);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    height: auto;
    padding-top: calcRem(20);
  }
}

.mapWrapper {
  position: relative;
  
  @media (max-width: $mobile-breakpoint) {
    height: 60vh;
  }
}

.noMap {
  position: relative;
  
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.mainWrapper {
  overflow-y: auto;
  padding-bottom: calcRem(40);
  background-color: #FAFAFA;
}

.mainInner {
  padding: calcRem(40);
}

.noMapIllustrationContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 70%;
    width: calcRem(620);
  }
}