@import 'styles/helpers';

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr calcRem(800);
  padding-top: calcRem(100);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    height: auto;
    padding-top: calcRem(20);
  }
}

.mapWrapper {
  position: relative;
  
  @media (max-width: $mobile-breakpoint) {
    height: 70vh;
    order: 2;
  }
}

.mainWrapper {
  overflow-y: auto;
  padding-bottom: calcRem(40);
  background-color: #FAFAFA;
}

.mainInner {
  padding: calcRem(40);
}