@import 'styles/helpers';

.appLayout {
  display: grid;
  height: 100vh;
}

.appHeader {
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @media (max-width: $mobile-breakpoint) {
    position: relative;
  }
}

.appFooter {
  padding: calcRem(15) calcRem(30);
  font-size: calcRem(14);
  text-align: right;
  border-top: 2px solid #ccc;

  a {
    font-weight: bold;
  }
}

.floating-action-button {
  position: fixed;
  bottom: calcRem(40);
  right: calcRem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcRem(54);
  height: calcRem(54);
  border-radius: 100%;
  color: #fff;
  background-color: $negative-color;
  @include shadow-2;

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}