@import 'styles/helpers';

.appLayout {
  display: grid;
  height: 100vh;
}

.appHeader {
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $mobile-breakpoint) {
    position: relative;
  }
}